In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('CSV_files/econ_status_data.csv')

In [3]:
df.head()

,Postal_Code,Total_Estimate_Households_per_Zip,Total_Estimate_Married-couple_Family_households,Total_Estimate_Nonfamily_households,"Percentage_EH<$10,000","Percentage_EH_$10,000-$14,999","Percentage_EH_$15,000-$24,999","Percentage_EH_$25,000-$34,999","Percentage_EH_$35,000-$49,999","Percentage_EH_$50,000-$74,999","Percentage_EH_$75,000-$99,999","Percentage_EH_$100,000-$149,999","Percentage_EH_$150,000-$199,999","Percentage_EH_$200,000<",Median_Income(dollars),Mean_Income(dollars)
0,84531,187,58,42,14.4,17.1,16.6,18.7,11.8,12.8,0.0,8.6,0.0,0.0,25972,35020.0
1,84536,376,110,160,42.3,3.2,14.4,5.9,16.2,10.4,0.0,7.7,0.0,0.0,20385,28507.0
2,85003,4378,942,2928,12.2,4.9,11.0,8.1,14.3,11.9,9.5,10.7,7.5,9.9,48306,82992.0
3,85004,3584,611,2831,20.9,6.8,11.3,4.9,5.3,11.0,13.5,10.1,8.0,8.2,52000,81508.0
4,85006,9471,2635,4473,10.9,8.4,12.1,9.7,13.7,18.4,11.2,10.6,2.4,2.7,43567,56523.0

In [4]:
df.dtypes

Postal_Code                                          int64
Total_Estimate_Households_per_Zip                    int64
Total_Estimate_Married-couple_Family_households      int64
Total_Estimate_Nonfamily_households                  int64
Percentage_EH<$10,000                              float64
Percentage_EH_$10,000-$14,999                      float64
Percentage_EH_$15,000-$24,999                      float64
Percentage_EH_$25,000-$34,999                      float64
Percentage_EH_$35,000-$49,999                      float64
Percentage_EH_$50,000-$74,999                      float64
Percentage_EH_$75,000-$99,999                      float64
Percentage_EH_$100,000-$149,999                    float64
Percentage_EH_$150,000-$199,999                    float64
Percentage_EH_$200,000<                            float64
Median_Income(dollars)                              object
Mean_Income(dollars)                               float64
dtype: object

In [5]:
#Dropping duplicate Postal Codes
df = df.drop_duplicates(subset=["Postal_Code"], keep="first")

In [6]:
df.columns

Index(['Postal_Code', 'Total_Estimate_Households_per_Zip',
       'Total_Estimate_Married-couple_Family_households',
       'Total_Estimate_Nonfamily_households', 'Percentage_EH<$10,000',
       'Percentage_EH_$10,000-$14,999', 'Percentage_EH_$15,000-$24,999',
       'Percentage_EH_$25,000-$34,999', 'Percentage_EH_$35,000-$49,999',
       'Percentage_EH_$50,000-$74,999', 'Percentage_EH_$75,000-$99,999',
       'Percentage_EH_$100,000-$149,999', 'Percentage_EH_$150,000-$199,999',
       'Percentage_EH_$200,000<', 'Median_Income(dollars)',
       'Mean_Income(dollars)'],
      dtype='object')

In [7]:
df.drop(['Percentage_EH<$10,000',
       'Percentage_EH_$10,000-$14,999', 'Percentage_EH_$15,000-$24,999',
       'Percentage_EH_$25,000-$34,999', 'Percentage_EH_$35,000-$49,999',
       'Percentage_EH_$50,000-$74,999', 'Percentage_EH_$75,000-$99,999',
       'Percentage_EH_$100,000-$149,999', 'Percentage_EH_$150,000-$199,999',
       'Percentage_EH_$200,000<'], axis=1, inplace=True)

In [8]:
df.head()

,Postal_Code,Total_Estimate_Households_per_Zip,Total_Estimate_Married-couple_Family_households,Total_Estimate_Nonfamily_households,Median_Income(dollars),Mean_Income(dollars)
0,84531,187,58,42,25972,35020.0
1,84536,376,110,160,20385,28507.0
2,85003,4378,942,2928,48306,82992.0
3,85004,3584,611,2831,52000,81508.0
4,85006,9471,2635,4473,43567,56523.0

In [9]:
df.dtypes

Postal_Code                                          int64
Total_Estimate_Households_per_Zip                    int64
Total_Estimate_Married-couple_Family_households      int64
Total_Estimate_Nonfamily_households                  int64
Median_Income(dollars)                              object
Mean_Income(dollars)                               float64
dtype: object

In [10]:
df.isnull().sum()

Postal_Code                                          0
Total_Estimate_Households_per_Zip                    0
Total_Estimate_Married-couple_Family_households      0
Total_Estimate_Nonfamily_households                  0
Median_Income(dollars)                             685
Mean_Income(dollars)                               369
dtype: int64

In [11]:
df.fillna(0, inplace=True)

In [12]:
df.dropna(subset=['Median_Income(dollars)', 'Mean_Income(dollars)'])

,Postal_Code,Total_Estimate_Households_per_Zip,Total_Estimate_Married-couple_Family_households,Total_Estimate_Nonfamily_households,Median_Income(dollars),Mean_Income(dollars)
0,84531,187,58,42,25972,35020.0
1,84536,376,110,160,20385,28507.0
2,85003,4378,942,2928,48306,82992.0
3,85004,3584,611,2831,52000,81508.0
4,85006,9471,2635,4473,43567,56523.0
...,...,...,...,...,...,...
9747,38588,342,125,172,44000,55602.0
9748,38589,110,67,29,47660,41642.0
9749,42223,4856,3858,355,45735,50972.0
9750,42602,4046,1768,1566,32835,51845.0
9751,72338,6,0,6,0,0.0

In [13]:
df.count()

Postal_Code                                        9745
Total_Estimate_Households_per_Zip                  9745
Total_Estimate_Married-couple_Family_households    9745
Total_Estimate_Nonfamily_households                9745
Median_Income(dollars)                             9745
Mean_Income(dollars)                               9745
dtype: int64

In [14]:
df.isnull().sum()

Postal_Code                                        0
Total_Estimate_Households_per_Zip                  0
Total_Estimate_Married-couple_Family_households    0
Total_Estimate_Nonfamily_households                0
Median_Income(dollars)                             0
Mean_Income(dollars)                               0
dtype: int64

In [15]:
df.dtypes

Postal_Code                                          int64
Total_Estimate_Households_per_Zip                    int64
Total_Estimate_Married-couple_Family_households      int64
Total_Estimate_Nonfamily_households                  int64
Median_Income(dollars)                              object
Mean_Income(dollars)                               float64
dtype: object

In [16]:
df['Median_Income(dollars)'] = df['Median_Income(dollars)'].fillna(0) 
df.drop(df.loc[df['Median_Income(dollars)']==0].index, inplace=True)

In [17]:
df = df.dropna(subset=['Median_Income(dollars)'])

In [18]:
df['Mean_Income(dollars)'] = df['Mean_Income(dollars)'].astype('int64')

In [19]:
df['Median_Income(dollars)'] = pd.to_numeric(df['Median_Income(dollars)'], errors='coerce')

In [20]:
df['Median_Income(dollars)'] = df['Median_Income(dollars)'].fillna(0) 
df.drop(df.loc[df['Median_Income(dollars)']==0].index, inplace=True)

In [21]:
df['Median_Income(dollars)'] = df['Median_Income(dollars)'].astype('int64')

In [22]:
df.dtypes

Postal_Code                                        int64
Total_Estimate_Households_per_Zip                  int64
Total_Estimate_Married-couple_Family_households    int64
Total_Estimate_Nonfamily_households                int64
Median_Income(dollars)                             int64
Mean_Income(dollars)                               int64
dtype: object

In [23]:
df.head()

,Postal_Code,Total_Estimate_Households_per_Zip,Total_Estimate_Married-couple_Family_households,Total_Estimate_Nonfamily_households,Median_Income(dollars),Mean_Income(dollars)
0,84531,187,58,42,25972,35020
1,84536,376,110,160,20385,28507
2,85003,4378,942,2928,48306,82992
3,85004,3584,611,2831,52000,81508
4,85006,9471,2635,4473,43567,56523

In [24]:
df.count()

Postal_Code                                        9045
Total_Estimate_Households_per_Zip                  9045
Total_Estimate_Married-couple_Family_households    9045
Total_Estimate_Nonfamily_households                9045
Median_Income(dollars)                             9045
Mean_Income(dollars)                               9045
dtype: int64

In [25]:
population_df = pd.read_csv('CSV_files/Census_population_final.csv')
population_df.head()

   Population  Postal_Code
0       41520          602
1       54689          603
2       24597          617
3        7853          622
4       43061          623

In [26]:
population_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21469 entries, 0 to 21468
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Population   21469 non-null  int64
 1   Postal_Code  21469 non-null  int64
dtypes: int64(2)
memory usage: 335.6 KB

In [27]:
merged_df = pd.merge(population_df, df, left_on='Postal_Code', right_on='Postal_Code', how='inner')

merged_df.head()

,Population,Postal_Code,Total_Estimate_Households_per_Zip,Total_Estimate_Married-couple_Family_households,Total_Estimate_Nonfamily_households,Median_Income(dollars),Mean_Income(dollars)
0,16305,7001,5145,2557,1677,72203,87666
1,47312,7003,18732,8872,6740,82114,105513
2,7440,7004,2854,1885,656,95969,133078
3,15269,7005,5488,3026,1767,104531,138199
4,22844,7008,8036,4081,2344,76276,84817

In [28]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5850 entries, 0 to 5849
Data columns (total 7 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Population                                       5850 non-null   int64
 1   Postal_Code                                      5850 non-null   int64
 2   Total_Estimate_Households_per_Zip                5850 non-null   int64
 3   Total_Estimate_Married-couple_Family_households  5850 non-null   int64
 4   Total_Estimate_Nonfamily_households              5850 non-null   int64
 5   Median_Income(dollars)                           5850 non-null   int64
 6   Mean_Income(dollars)                             5850 non-null   int64
dtypes: int64(7)
memory usage: 365.6 KB

In [29]:
# df.to_csv('CSV_files/New_Census_income_population.csv',index=False)