In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

from sqlalchemy import create_engine
from config import db_password
from sqlalchemy import inspect
import matplotlib.pyplot as plt
import pandas as pd
from imblearn.ensemble import EasyEnsembleClassifier

In [ ]:
# Creating engine and connection to the SQL database

db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Yelp_data"
engine = create_engine(db_string)
business_df = pd.read_sql_table('merged_data',engine)

In [ ]:
business_df.head()

,postal_code,restaurant_id,restaurants_name,address,city,states,latitude,longitude,stars_rating,review_count,...,wifi,good_for_groups,wheelchair_accessible,happy_hour,noise_level,dietary_restrictions,total_estimate_households_per_zip,total_estimate_married_couple_family_households,total_estimate_nonfamily_households,median_income_dollars
0,83709,oCVcvXmtVJKAH8vpFCoVyg,#1 Mongolian BBQ - Best Stir Fried Noodles In ...,"8249 W Overland Rd, Ste 180",Boise,ID,43.589722,-116.285309,3.5,51,...,True,True,False,False,4,False,21787.0,12577.0,6435.0,74941.0
1,19104,k_43W3zbbEuvYuLZviSJKA,&pizza - UPenn,3925 Walnut St,Philadelphia,PA,39.954236,-75.201192,4.0,61,...,False,True,True,False,4,False,16508.0,2296.0,10575.0,28603.0
2,19102,wuH4TPUo8oJo4E59xZKsNg,&pizza - Walnut,430 Walnut St,Philadelphia,PA,39.949207,-75.165920,4.5,364,...,True,True,True,False,4,False,3365.0,765.0,2525.0,110096.0
3,19428,VZFQS0SXzXPuxISbAgIVBA,'feine,812 Fayette St,Conshohocken,PA,40.080194,-75.300277,4.5,166,...,True,True,False,False,1,False,8479.0,3332.0,4239.0,98031.0
4,37212,UBCOE-7SXWrg2kPLSuF4YQ,'za,2005 Belcourt Ave,Nashville,TN,36.136669,-86.800017,4.0,83,...,True,False,True,False,4,False,7149.0,2539.0,4043.0,71699.0

In [ ]:
# Categorizing restaurants based on stars ratings
business_df["Category"] = pd.cut(business_df["stars_rating"],bins=[0.9,3.5,5],
                                 labels=["Lower Performance", "Higher Performance"])

In [ ]:
def changeStatus(status):
    if status == "Lower Performance":
        return 0
    else:
        return 1

In [ ]:
business_df['Category_Encoded'] = business_df["Category"].apply(changeStatus)
business_df["Category_Encoded"] = pd.to_numeric(business_df["Category_Encoded"])

In [ ]:
# Transform Previous State column
def changeStatus(status):
    if status == 'AZ':
        return 1
    elif status == 'CA':
        return 2
    elif status == 'DE':
        return 3
    elif status == 'FL':
        return 4
    elif status == 'ID':
        return 5
    elif status == 'IL':
        return 6
    elif status == 'IN':
        return 7
    elif status == 'LA':
        return 8
    elif status == 'NJ':
        return 9
    elif status == 'NV':
        return 10
    elif status == 'PA':
        return 11
    else:
        return 12

In [ ]:
# Along with replace() and map(), encode the state column into numbers.
business_df["states"] = business_df["states"].apply(changeStatus)

business_df["median_income_dollars"] = pd.to_numeric(business_df["median_income_dollars"], errors='coerce')

business_df = business_df.dropna(subset=['median_income_dollars'])

In [ ]:
business_df.columns

Index(['postal_code', 'restaurant_id', 'restaurants_name', 'address', 'city',
       'states', 'latitude', 'longitude', 'stars_rating', 'review_count',
       'restaurants_delivery', 'outdoor_seating', 'accepts_creditcards',
       'price_range', 'alcohol', 'good_for_kids', 'reservations',
       'restaurants_takeout', 'wifi', 'good_for_groups',
       'wheelchair_accessible', 'happy_hour', 'noise_level',
       'dietary_restrictions', 'total_estimate_households_per_zip',
       'total_estimate_married_couple_family_households',
       'total_estimate_nonfamily_households', 'median_income_dollars',
       'Category', 'Category_Encoded'],
      dtype='object')

In [ ]:
# Define the features set
X = business_df[['states', 'review_count', 'restaurants_delivery', 'outdoor_seating',
       'accepts_creditcards', 'price_range', 'alcohol', 'good_for_kids',
       'reservations', 'restaurants_takeout', 'wifi', 'good_for_groups',
       'wheelchair_accessible', 'happy_hour', 'noise_level',
       'dietary_restrictions',
                'total_estimate_married_couple_family_households',
       'total_estimate_nonfamily_households',
                'median_income_dollars', 'total_estimate_households_per_zip']]

In [ ]:
# Define the target set
y = business_df["Category_Encoded"]

In [ ]:
# Split the model into training and testing sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,
                                                   y, 
                                                   random_state=1, 
                                                    stratify=y)

In [ ]:
# Train the EasyEnsembleClassifier
model = EasyEnsembleClassifier(n_estimators=100, random_state=1)

model.fit(X_train, y_train)

/Users/leilacf/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/sklearn/utils/validation.py:1677: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name']. An error will be raised in 1.2.
  FutureWarning,

EasyEnsembleClassifier(n_estimators=100, random_state=1)

In [ ]:
# Predicting Testing Data
from sklearn.metrics import balanced_accuracy_score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

/Users/leilacf/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/sklearn/utils/validation.py:1677: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name']. An error will be raised in 1.2.
  FutureWarning,

0.6645702085634417

In [ ]:
# Predicting Training Data
y_pred_train = model.predict(X_train)
balanced_accuracy_score(y_train, y_pred_train)

/Users/leilacf/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/sklearn/utils/validation.py:1677: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name']. An error will be raised in 1.2.
  FutureWarning,

0.6729816412868193

In [ ]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test, y_pred)
cm

array([[1984, 1000],
       [1070, 2117]])

In [ ]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced

print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.65      0.66      0.66      0.66      0.66      0.44      2984
          1       0.68      0.66      0.66      0.67      0.66      0.44      3187

avg / total       0.66      0.66      0.66      0.66      0.66      0.44      6171